#Conhecendo a Base de Dados

In [ ]:
import pandas as pd

In [ ]:
url='https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'
pd.read_csv(url)

obs: Normalmente arquivos csv vem com o separador ',' mas neste caso não veio. Por isso temos informar qual o separador para o pandas ler.

In [ ]:
pd.read_csv(url,sep=';')

In [ ]:
dados=pd.read_csv(url,sep=';')
dados

In [ ]:
dados.head()

In [ ]:
dados.tail()

In [ ]:
type(dados)

#Características gerais da base de dados

In [ ]:
dados.shape

In [ ]:
dados.columns

In [ ]:
dados.info()

In [ ]:
dados['Tipo'].head()

In [ ]:
dados[['Quartos','Valor']].head()

#Características gerais da base de dados

In [ ]:
dados.shape

In [ ]:
dados.columns

In [ ]:
dados.info()

In [ ]:
dados['Tipo'].head()

In [ ]:
dados[['Quartos','Valor']].head()

#Qual o valor médio de aluguel por tipo de imóvel

In [ ]:
dados.head()

agrupando os dados pelo tipo de imóvel e calculando as médias de todos os valores numéricos

In [ ]:
dados.groupby('Tipo').mean(numeric_only=True)

Desta vez agrupou por tipo de imóvel mas fez apenas a média da coluna valor

In [ ]:
dados.groupby('Tipo')['Valor'].mean()

agrupando os dados pelos bairros e caculando o valor médio de cada bairro

In [ ]:
dados.groupby('Bairro')['Valor'].mean()

Fazendo um DataFrame a média dos valores por tipo de imóvel e colocando da menor média para a maior

In [ ]:
dados.groupby('Tipo')[['Valor']].mean().sort_values('Valor')

In [ ]:
df_preco_tipo=dados.groupby('Tipo')[['Valor']].mean().sort_values('Valor')
df_preco_tipo.plot(kind='barh',figsize=(14,10),color='blue')

Separando os imóveis comerciais

In [ ]:
dados.Tipo.unique()

In [ ]:
imoveis_comerciais = ['Conjunto Comercial/Sala', 
                      'Prédio Inteiro', 'Loja/Salão', 
                      'Galpão/Depósito/Armazém', 
                      'Casa Comercial', 'Terreno Padrão',
                      'Loja Shopping/ Ct Comercial',
                      'Box/Garagem', 'Chácara',
                      'Loteamento/Condomínio', 'Sítio',
                      'Pousada/Chalé', 'Hotel', 'Indústria']

In [ ]:
dados.query('@imoveis_comerciais in Tipo')

Separando os imóveis dos tipos residenciais

In [ ]:
df_residenciais=dados.query('@imoveis_comerciais not in Tipo')
df_residenciais

Vendo os tipos unicos de imóveis

In [ ]:
df_residenciais.Tipo.unique()

fazendo um dataframe da média de cada tipo de imóvel residencial

In [ ]:
df=df_residenciais.groupby('Tipo')[['Valor']].mean().sort_values('Valor')
df

fazendo um histograma desse dataframe

In [ ]:
df.plot(kind='barh',figsize=(14,10),color='blue')

fazendo uma contagem de valores de cada tipo de imóvel residencial e transformando os valores em porcentagem

In [ ]:
df_residenciais['Tipo'].value_counts(normalize=True)

fazendo um dataframe disso

In [ ]:
df_residenciais['Tipo'].value_counts(normalize=True).to_frame().sort_values('Tipo')

fazendo um histograma disso

In [ ]:
df_percentua_tipo=df_residenciais['Tipo'].value_counts(normalize=True).to_frame().sort_values('Tipo')
df_percentua_tipo.plot(kind='bar',figsize=(14,10),color='green',xlabel='tipos',ylabel='porpotion')

filtrando os tipos residencais para apenas os apartamentos, pois eles representam mais de 80% dos dados. por isso, extrair informações deles são de maior importância

In [ ]:
df_apartamentos=df_residenciais.query('Tipo == "Apartamento"')
df_apartamentos.head()

#Tratando e filtrando dados

lidando com dados nulos

In [ ]:
dados.isnull()

aqui percebo onde estão os valores nulos

In [ ]:
df_apartamentos.isnull().sum()

e executo a função info() pra saber qual o tipo desses valores e vejo que são float

In [ ]:
df_apartamentos.info()

com isso substituo eles por 0

In [ ]:
df_apartamentos=df_apartamentos.fillna(0)

In [ ]:
df_apartamentos.isnull().sum()

#removendo registros do DF de apartamentos com o valor ou condomínio igual a 0

In [ ]:
df_apartamentos.query('Valor == 0 | Condominio == 0').index

In [ ]:
valores_a_remover=df_apartamentos.query('Valor == 0 | Condominio == 0').index

In [ ]:
df_apartamentos.drop(valores_a_remover, axis=0, inplace=True)

assim confirmo que não tem valores nulos no DF de apartamentos

In [85]:
df_apartamentos.query('Valor == 0 | Condominio == 0')

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

removendo a coluno tipo de imóvel

In [87]:
df_apartamentos['Tipo'].unique()

array(['Apartamento'], dtype=object)

In [88]:
df_apartamentos.drop('Tipo',axis=1,inplace=True)

pronto temos um DF de apartamentos limpo

In [89]:
df_apartamentos

,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
3,Centro,1,0,0,15,800.0,390.0,20.0
4,Higienópolis,1,0,0,48,800.0,230.0,0.0
6,Cachambi,2,0,0,50,1300.0,301.0,17.0
11,Grajaú,2,1,0,70,1500.0,642.0,74.0
12,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
...,...,...,...,...,...,...,...,...
32951,Vila Valqueire,2,0,0,52,1000.0,550.0,0.0
32953,Méier,2,0,0,70,900.0,490.0,48.0
32956,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Leblon,2,0,0,70,3000.0,760.0,0.0